{%extends 'nav.html'%}
{%block content%}

<div class="container">
    <div class="d-flex justify-content-between pt-3 pb-3">
        <h4>Our Recent Posts</h4> 
        <form class="d-flex" method="GET" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search" required="True">
            <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    
        <div class="row pb-4">
            {% for i in data %}
            <div class="col-md-4 border border-1 p-3">
                <a href="{% url 'post' i.slug %} "><h5>{{i.title}}</h5></a>
                <p>{{i.date}}</p>
                {{i.content|safe |truncatewords:30}}
            </div>
            {% endfor %}
        </div>
</div>



{%endblock%}