{%extends 'nav.html'%}
{%block content%}

<div class="container">
    <div class="d-grid gap-3 pt-5 pb-5">
        <h5>Search Results</h5>
        {%if data%}
        {% for i in data %}
        <div class="p-2 bg-light border">
            <a href="{% url 'post' i.slug %} ">
                <h5>{{i.title}}</h5>
            </a>
            <p>{{i.content|safe|truncatewords:30}}</p>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-danger">No Result Found</p>
        {%endif%}



    </div>



</div>


{%endblock%}